.featured{
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  z-index: 1;
}

.featuredItem{
  position: relative;
  color: black;
  border-radius: 3px;
  overflow: hidden;
  height: 200px;
  flex:1
}

.featuredImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles{
  position: absolute;
  bottom: 15px;
  left: 20px;
}